.listItem {
  padding: 0.2em;
  font-size: 17px;
  font-weight: 500;
  color: rgb(11, 11, 141);
  list-style-type: square;
}
.button {
  background-color: rgb(11, 11, 141);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.5em 1em;
  max-width: 12vw;
  margin-left: 2em;
}
