.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: flex-start;
  flex-basis: 45vw;
  max-height: 45vh;
  margin: 0 auto;
  list-style-type: square;
  overflow-y: scroll;
}
